.App {
    height: 100vh;
    width: 100%;
    background-color: #7BD7E2;
    box-sizing: border-box;
    padding: none;
    margin: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}

.App h1
{
    font-size: 3rem;
}

  